@import '../utils/variables';

@mixin button-style($color-white, $color-red, $font-accent) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: $color-red;
    color: $color-white;
    font-family: $font-accent;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    background-color: darken($color-bg-light, 5%);
  }
  
}